@mixin button-general($color, $bgcolor) {
    color: $color;
    background-color: $bgcolor;
    border: solid 1px transparent;
    font-weight: bold;
    margin: 1vh;
    outline: none;
    box-shadow: .5vh .5vh 1vh rgba(0, 0, 0, 0.5);
    &:hover {
        background-color: #666;
        transform: translateY(-1px);
    }
}

%button-bet-shared {
    font-size: 2.5vh;
    white-space: nowrap;
    border-radius: 50%;
    height: 8vh;
    width: 8vh;
}

.buttons {
    margin-top: -5vh;
}

.btn-action {
    @include button-general(white, black);
    padding: 1vh;
    width: 15vh;
    font-size: 3vh;
    border-radius: 1vh;
}

.btn-bet-5 {
    @extend %button-bet-shared;
    @include button-general(black, white);
}

.btn-bet-10 {
    @extend %button-bet-shared;
    @include button-general(white, black);
}

.btn-bet-25 {
    @extend %button-bet-shared;
    @include button-general(white, green);

}
.btn-bet-50 {
    @extend %button-bet-shared;
    @include button-general(white, blue);
}

.btn-bet-100 {
    @extend %button-bet-shared;
    @include button-general(white, red);
}

.interface {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
}

.balance {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 50;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0, 0.4);
    border-radius: 0.5vw;
    font-size: 3vh;
    font-weight: 900;
    padding: 0.5vw;
}

.cash {
    color: goldenrod;
    font-weight: 700;
    margin-right: 2vw;
}

.bet {
    color: dodgerblue;
    font-weight: 500;
}